---
pagination:
enabled: true
---


{% include header.html %}

<main id="portfolio">
    <div class="row">
        <div class="col-md-12">
            <div class="hero-container">
                <div class="hero-content">
                    <div class="row text-left">
                        <div class="col-sm-12">
                            <h2>🔥Interactive results of SteerX🔥</h2>
                            <!-- <p>Generating more results for fun here. Check <a href="./test_0.html">this page</a> for the comparison over 40 test prompts in our experiments.</p> -->
                        </div>
                    </div>

                    <div style="font-size: 20px; text-align: center; padding: 1em">
                        <a href="https://byeongjun-park.github.io/SteerX/">Home</a>
                        &nbsp;&bull;&nbsp;
                        <a href="gallery_0.html">Text-to-4D</a>
                        &nbsp;&bull;&nbsp;
                        <a href="gallery_1.html">Image-to-4D</a>
                        &nbsp;&bull;&nbsp;
                        <strong>Text-to-3D</strong>
                        &nbsp;&bull;&nbsp;
                        <a href="gallery_3.html">Image-to-3D</a>
                    </div>
                </div>
            </div>
            <div class="content-wrap">
                <div class="row post-row">
                    <div class="container">
                        <div class="content">
                            <div id="wrapper"
                                style="display: flex; flex-direction: row; justify-content: center; align-items: flex-start; gap: 20px; text-align: center;">
                                <div style="display: flex; flex-direction: column; align-items: center;">
                                    <iframe src="files/text-to-3d/A green cactus in a clay pot.html"
                                        style="width: 375px; height: 375px;"></iframe>
                                    <p class="excerpt">A green cactus in a clay pot</p>
                                </div>
                                <div style="display: flex; flex-direction: column; align-items: center;">
                                    <iframe src="files/text-to-3d/A pink bicycle leaning against a fence.html"
                                        style="width: 375px; height: 375px;"></iframe>
                                    <p class="excerpt">A pink bicycle leaning against a fence</p>
                                </div>
                                <div style="display: flex; flex-direction: column; align-items: center;">
                                    <iframe src="files/text-to-3d/A pair of hiking boots on a trail.html"
                                        style="width: 375px; height: 375px;"></iframe>
                                    <p class="excerpt">A pair of hiking boots on a trail</p>
                                </div>
                            </div>

                            <div id="wrapper"
                                style="display: flex; flex-direction: row; justify-content: center; align-items: flex-start; gap: 20px; text-align: center;">
                                <div style="display: flex; flex-direction: column; align-items: center;">
                                    <iframe
                                        src="files/text-to-3d/A pink ceramic vase filled with fresh white lilies.html"
                                        style="width: 375px; height: 375px;"></iframe>
                                    <p class="excerpt">A pink ceramic vase filled with fresh white lilies</p>
                                </div>
                                <div style="display: flex; flex-direction: column; align-items: center;">
                                    <iframe src="files/text-to-3d/A vintage clock hanging on a brick wall.html"
                                        style="width: 375px; height: 375px;"></iframe>
                                    <p class="excerpt">A vintage clock hanging on a brick wall</p>
                                </div>
                                <div style="display: flex; flex-direction: column; align-items: center;">
                                    <iframe src="files/text-to-3d/A brown teddy bear in a toy shop.html"
                                        style="width: 375px; height: 375px;"></iframe>
                                    <p class="excerpt">A brown teddy bear in a toy shop</p>
                                </div>
                            </div>

                            <div id="wrapper"
                                style="display: flex; flex-direction: row; justify-content: center; align-items: flex-start; gap: 20px; text-align: center;">
                                <div style="display: flex; flex-direction: column; align-items: center;">
                                    <iframe
                                        src="files/text-to-3d/A fluffy white pillow resting on a red velvet couch.html"
                                        style="width: 375px; height: 375px;"></iframe>
                                    <p class="excerpt">A fluffy white pillow resting on a red velvet couch</p>
                                </div>
                                <div style="display: flex; flex-direction: column; align-items: center;">
                                    <iframe src="files/text-to-3d/A jar of homemade jam on a kitchen counter.html"
                                        style="width: 375px; height: 375px;"></iframe>
                                    <p class="excerpt">A jar of homemade jam on a kitchen counter</p>
                                </div>
                                <div style="display: flex; flex-direction: column; align-items: center;">
                                    <iframe src="files/text-to-3d/A pair of red boxing gloves hanging on a wall.html"
                                        style="width: 375px; height: 375px;"></iframe>
                                    <p class="excerpt">A pair of red boxing gloves hanging on a wall</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% include footer.html %}