<div class="container">
  <div class="content">
    {% if post.title %}
      <h3 class="title">{{ post.title }}</h3>
    {% endif %}
    <div
      id="wrapper"
      style="
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1em;
      "
    >
      {% for block in post.blocks %} {% if block.video %}
      <video controls width="100%">
        <source src="{{block.video}}" />
        Your browser does not support the video tag.
      </video>
      {% endif %} {% if block.image %}
      <img src="{{block.image}}" style="width: 100%" />
      {% endif %} {% if block.text %}
      <p class="excerpt">{{ block.text }}</p>
      {% endif %} {% endfor %}
    </div>

    <p class="excerpt">{{ post.lead_text }}</p>

    <div
      id="wrapper"
      style="
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2em;
      "
    >
      {% for html in post.htmls %}
      <!-- Insert two iframes -->
      <iframe
        src="{{ html }}"
      ></iframe>
      {% endfor %}
    </div>

    <div
      id="wrapper"
      style="
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2em;
      "
    >
      {% for link in post.links %}
      <!-- Insert two iframes -->
      <iframe
        src="{{ site.url }}/{{ site.baseurl }}/build/?playbackPath={{ link }}&initDistanceScale=1&initHeightOffset=0.0"
      ></iframe>
      {% endfor %}
    </div>
  </div>
</div>
